* {
  padding: 0;
  margin: 0;
} 

body {
  background: #fff;
  color: rgb(86,85,85);
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 18px;
}
img {
  border: none;
}
a {
  color: #6998f0;
  text-decoration: none;
}
a:hover {
  color: #000;
  text-decoration: underline;
}

#upload{
	width: 300px;
	margin:auto;
	background: #ececec;
	padding: 20px;
	border: 1px solid #ccc;
}

.picto{
	float:left;
	margin:3px 10px 5px 0;
}
.tei_picto{
	float:right;
	margin:5px 2px 0 0;
}

.download_picto{
	float:right;
	margin:5px 2px 0 0;
	
}

.title{
	float:left;
	cursor:pointer;
}

.content_res{
	clear:both;
}
#wrap {
  width: 95%;
  margin: 0px auto;
}
.clear {
  clear: both;
}

/* header */

#header {
  background: #779153 url(../img/hd-bg.png) top left repeat-x;
  height: 90px;
}
#header h1 {
  padding: 20px 0 5px 10px;
  color: #c2e395;
  font: bold 2.4em "Trebuchet MS", arial, sans-sherif;
  letter-spacing: .1em;
}
#header h2 {
  padding-left: 10px;
  color: #666;
  font-size: 14px;
  font-weight: 100;
}

/* right */

.right {
  float: right;
  width:64%;
  padding: 10px 2%;
  border-left: 1px solid #aaa;
  text-align: justify;
  position:relative;
}
.right h2 {
  padding-top:2px;
  color: #779153;
  font: bold 1.8em "Trebuchet MS", arial, sans-sherif;
  letter-spacing: -2px;
}
#result a {
  margin-right: 5px;
}
#navigation {
  border-bottom: 1px solid #000;
}
#pager,
#pager-header {
  display: inline;
}
#pager li,
.links li {
  list-style-type: none;
  display: inline;
}
#selection {
  padding: 10px 15px 0;
}
#selection li {
  list-style-type: none;
}
#docs {
  padding-top: 1px;
}

/* left */

.left {
  float: left;
  width:30%;
}
.left h2 {
  clear: left;
  padding-top: 20px;
  color: rgb(5, 105, 1);
  font-size: 13px;
}
#search input,#search {
  width: 95%;
}

#calendar {
  width: 160px;
}
#search_help {
  font-size: 80%;
}
.tagcloud {
  padding: 10px 15px 0;
}
.tagcloud_item {
  float: left;
  display: block;
  margin-right: 4px;
  color: #6998f0;
}
.tagcloud_item:hover {
  color: #f00;
}

/* tagcloud */

a.tagcloud_size_0 {
font-size: 110%;
}
a.tagcloud_size_1 {
font-size: 110%;
}
a.tagcloud_size_2 {
font-size: 110%;
}Rst
a.tagcloud_size_3 {
font-size: 110%;
}
a.tagcloud_size_4 {
font-size: 110%;
}
a.tagcloud_size_5 {
font-size: 110%;
}
a.tagcloud_size_6 {
font-size: 110%;
}
a.tagcloud_size_7 {
font-size: 110%
}
a.tagcloud_size_8 {
font-size: 110%;
}
a.tagcloud_size_9 {
font-size: 110%;
}
a.tagcloud_size_10 {
font-size: 110%;
}
.no_view{
	display:none;
}
.delete{
	cursor:pointer;
	position: absolute;
    right: 5px;
    top: 5px;
}
.sugar{
	border-width:1px;
	border-color:#175973;
	border-style: solid;
	background-color:#c2e395;
	position: relative;
	min-height:30px;
}
.date{
	color:gray;
}
.doc_selected{
	background-color:#FFFFB3;
}
#upload{
	margin:10px 0 0 0;
}
#batch_action{
    height: 40px;
    position: fixed;
    right: 0;
    top: 90px;
    z-index: 50;
}
#batch_load_picto{
	position: relative;
    top: 7px;
}
#tei_batch_picto{
		display:block;
		cursor: pointer;
		left: -7px;
		position: relative;
}

#delete_batch_picto{
		display:block;
		cursor: pointer;
		left: -9px;
		position: relative;
}
#download_batch_picto{
		display:block;
		cursor: pointer;
}

.author_container{
	margin: 5px 0 0 5px;
}
#batch{
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-moz-box-shadow: -3px 4px 5px -1px #888888;
    -webkit-box-shadow: -3px 4px 5px -1px #888888;
     box-shadow: -3px 4px 5px -1px #888888;
    
	width:27px;
	padding: 10px;
}

#batch_action{
	position:fixed;
	top:70px;
	right:-60px;
}
.download_picto img,
.tei_picto img {
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-o-transform:scale(1);
	-ms-transform:scale(1);
	transform:scale(1);

	-webkit-transition: all 0.2s cubic-bezier(0.07, 1, 0.14, 0.80);
	-moz-transition: all 0.2s cubic-bezier(0.07, 1, 0.14, 0.80);
	-o-transition: all 0.2s cubic-bezier(0.07, 1, 0.14, 0.80);
	-ms-transition: all 0.2s cubic-bezier(0.07, 1, 0.14, 0.80);
	transition: all 0.2s cubic-bezier(0.07, 1, 0.14, 0.80);

}
.download_picto img:hover,
.tei_picto img:hover {
	-webkit-transform:scale(1.2);
	-moz-transform:scale(1.2);
	-o-transform:scale(1.2);
	-ms-transform:scale(1.2);
	transform:scale(1.2);

	-webkit-transition: all 0.2s cubic-bezier(0.07, 1, 0.14, 0.80);
	-moz-transition: all 0.2s cubic-bezier(0.07, 1, 0.14, 0.80);
	-o-transition: all 0.2s cubic-bezier(0.07, 1, 0.14, 0.80);
	-ms-transition: all 0.2s cubic-bezier(0.07, 1, 0.14, 0.80);
	transition: all 0.2s cubic-bezier(0.07, 1, 0.14, 0.80);
}

#selected-header{
	font-style:italic;
	color:gray;
	position:relative;
	left: 0;
    float:right;
}

#docs > div:nth-child(2n+1) .res_content{
	background-color:#F8F8F8;
}

#docs > div .res_content{
	background-color:white;
}

#docs > div{
	margin: 5px 2px 5px 2px;
}
.selection{
	float: left;
}
.res_content{
	margin-left:20px;
}
#selector{
	background-color: #F5F5F5;
	border:1px solid #F1F1F1;
	width:100px;
}
#select_all{
	margin-right:4px;
}
#selector span{
	color:#888888;
	line-height:2px;
}

.T-Jo {
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(155, 155, 155, 0.57);
    font-size: 1px;
    height: 11px;
    margin: 0 4px 0 1px;
    outline: 0 none;
    vertical-align: text-bottom;
    width: 11px;
}


#btn_url {
	display: block;
	width: 105px;
	padding: 7px 0;
	text-align: center;
	background: rgb(5, 105, 1);
	border-bottom: 1px solid #ddd;
	color: #fff;
}
#btn_url:HOVER {
	background:#779153;
}

#url input{
	width: 90%;
}
