<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>GLabCorpus</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>upload.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
		<servlet-name>InitCore</servlet-name>
		<servlet-class>servlet.InitCore</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>InitCore</servlet-name>
		<url-pattern>/Init-core</url-pattern>
	</servlet-mapping>	
  <servlet>
		<servlet-name>CommonsFileUploadServlet</servlet-name>
		<servlet-class>servlet.CommonsFileUploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CommonsFileUploadServlet</servlet-name>
		<url-pattern>/Commonsfileuploadservlet</url-pattern>
	</servlet-mapping> 
  <servlet>
	<servlet-name>CorpusEdit</servlet-name>
		<servlet-class>servlet.CorpusEdit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CorpusEdit</servlet-name>
		<url-pattern>/CorpusEdit</url-pattern>
	</servlet-mapping>  
</web-app>